@import "../../styles/partials/global";

.reservation {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: antiquewhite;
  gap: 1em;
}

.notification {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999;
  padding: 1rem;
  color: $red;
  font-size: 1rem;
  position: absolute;
  width: 500px;
  height: auto;
  margin-right: 0;
  border-radius: 8px;
  transition: all 0.5s;
  background-color: $light-grey; 
  span {
    font-size: 1rem;
    font-weight: bold;
  }
  button {
    position: absolute;
    top: 0;
    right: 1rem;
    background: transparent;
    color: $red;
    font-size: 20px;
    cursor: pointer;
  }

h3 {
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

p {
  margin-bottom: 0.5rem;
}
}
.available-ranges {
  margin-top: 1rem;
  h3 {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  p {
    margin-bottom: 0.5rem;
  }
}
.info {
  background-color: $green;
}
.success {
  background-color: $blue;
}
.warning {
  background-color: $coral;
}
.danger {
  background-color: $red;
}
