@import "../../styles/partials/global";

.panel {
  display: flex;
  justify-content: center;
  background-color: $graphite;
  width: 100%;
  z-index: 1;

  &__container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: $white;
    width: 87%;
    height: 3.5rem;
    border-top-left-radius: 0.2rem;
    border-top-right-radius: 0.2rem;
    z-index: 1;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
      height: 5rem;
      align-items: flex-end;
      padding: 1rem 1.5rem 0.7rem;
      width: 42rem;
    }

    @include desktop {
      height: 6.6rem;
      padding: 1rem 2rem 1.5rem;
      width: 65rem;
    }
  }

  &__title {
    font-size: 1.45rem;
    padding-left: 1.5rem;

    @include tablet {
      font-size: 1.9rem;
      padding-left: 0rem;
      margin-right: auto;
    }
    @include desktop {
      font-size: 2.2rem;
      padding-left: .5rem;
      margin-right: auto;
    }
  }

  &__search {
    @include tablet {
      display: flex;
      flex-direction: row;
      font-size: 0.8rem;
      font-weight: 400;
      width: 10rem;
      margin-right: 1.2rem;
      margin-bottom: 0.4rem;
      padding: 0.2rem 0;
      border: 1px solid $cloud;
      border-radius: 1.25rem;
    }
    @include desktop {
      font-size: 1rem;
      width: 18rem;
      padding: 0.5rem 0;
    }

    input {
      padding-left: 1rem;
      border: none;
      margin-right: auto;
      background-color: transparent;
      width: 85%;

      &:focus {
        outline: none;
      }
    }

    img {
      padding-right: 0.5rem;

      @include tablet {
        width: 1.7rem;
        margin-left: -.5rem;
      }

      @include desktop {
        padding-right: 0.5rem;
      }
    }

    &-bar {
      display: inline;
    }
  }

  &__add {
    &-button {
      transition: background-color 0.25s;
      font-weight: 600;

      &:hover {
        background-color: $graphite;
        color: $white;
        transition: background-color 0.25s;
        cursor: pointer;
      }

      @include tablet {
        background-color: $indigo;
        color: $white;
        border: none;
        border-radius: 1.25rem;
        padding: 0.35rem 1.5rem;
        font-size: 0.8rem;
        margin-bottom: 0.4rem;
      }
      @include desktop {
        padding: 0.6rem 2rem;
        font-size: 1rem;
      }
    }
  }
}
.warehouse {
  &__list {
    width: 100%;
    background-color: $light-grey;
    display: flex;
    justify-content: center;
  }

  &__card {
    width: 87%;
    background-color: $white;
    border-bottom-left-radius: 0.2rem;
    border-bottom-right-radius: 0.2rem;
    box-shadow: 0px 0px 4px 4px rgba(0, 0, 0, 0.05);
    z-index: 0;

    @include tablet {
      width: 42rem;
    }

    @include desktop {
      width: 65rem;
    }
  }
}

.search-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__search {
    margin: 0.7rem 0;
    display: flex;
    flex-direction: row;
    font-size: 0.7rem;
    font-weight: 400;
    width: 18rem;
    padding: 0.4rem 0;
    border: 1px solid $cloud;
    border-radius: 1.25rem;

    input {
      flex-shrink: 1;
      font-size: 0.8rem;
      padding-left: 1rem;
      width: 80%;
      border: none;
      margin-right: auto;
      background-color: transparent;
      &:focus {
        outline: none;
      }
    }

    img {
      padding-right: 0.7rem;
      width: 1.9rem;
    }

    &-bar {
      display: inline;
    }
  }

  &__add {
    &-button {
      background-color: $indigo;
      color: $white;
      border: none;
      border-radius: 1.25rem;
      padding: 0.4rem 0;
      font-size: 0.9rem;
      font-weight: 600;
      width: 18rem;
      height: 2rem;
      margin-bottom: 0.5rem;
      transition: background-color 0.25s;
      &:hover {
        background-color: $graphite;
        color: $white;
        transition: background-color 0.25s;
        cursor: pointer;
      }
    }
  }
}
.mobile-view {
  @include tablet {
    display: none;
  }
}
.tablet-view {
  display: none;

  @include tablet {
    display: initial;
  }
}

.warehouse-labels {
  display: none;

  @include tablet {
    display: flex;
    justify-content: center;
    background-color: $light-grey;
  }

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1.5rem;
    width: 42rem;
    background-color: $light-grey;
    color: $slate;
    font-size: 0.7rem;
    z-index: 0;

    @include desktop {
      width: 65rem;
      padding: 1rem 2rem;
      font-size: 0.9rem;
    }
  }

  &__column-header {
    display: flex;
    text-transform: uppercase;
    font-weight: 550;
    &:nth-of-type(1) {
      width: 11.2rem;

      @include desktop {
        width: 12rem;
      }
    }

    &:nth-of-type(2) {
      width: 12rem;
      @include desktop {
        width: 18rem;
      }
    }

    &:nth-of-type(3) {
      width: 11rem;
      @include desktop {
        width: 12.5rem;
      }
    }

    &:nth-of-type(4) {
      width: 14rem;
      @include desktop {
        width: 14rem;
      }
    }

    &:nth-of-type(5) {
      margin-left: auto;
      width: 4rem;
      @include desktop {
        width: 4rem;
      }
    }
  }

  &__buttons {
    padding-left: 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__icons {
    .warehouse-labels__icon {
      margin-top: auto;
      width: 1rem;
      &:hover {
      cursor: pointer;
      }
    }
  }
}

.warehouse-facility {
  border-top: 0.09rem solid $cloud;

  @include tablet {
    border-top: none;
    width: 42rem;
    z-index: 2;
  }
  @include desktop {
    width: 65rem;
  }

  &__row {
    border-top: 0.09rem solid $cloud;
    background-color: $white;
    transition: background-color 0.25s;
    &:first-of-type {
      border-top: none;
    }

    &:hover {
      background-color: $light-blue;
      transition: background-color 0.25s;
    }

    @include tablet {
      display: flex;
    }
  }

  &__mobile-block-1 {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1.7rem;

    @include tablet {
      display: flex;
      padding: initial;
      width: 100%;
    }
  }

  &__column-1 {
    width: 45%;
    @include tablet {
      display: flex;
      align-items: center;
      width: initial;
      flex: 1;
      @include desktop {
        flex: 0.9;
      }
    }
  }

  &__column-2 {
    flex-grow: 1;
    margin-left: 1rem;

    @include tablet {
      display: flex;
      align-items: center;
      flex: 1;
      margin-left: initial;
    }
  }

  &__header {
    text-transform: uppercase;
    font-size: .8rem;
    font-weight: 550;
    margin-top: 0.8rem;
    margin-bottom: 0.5rem;
    color: $slate;
  }

  &__warehouse {
    &-name,
    &-address,
    &-contact-name,
    &-contact-number,
    &-contact-email {
      font-size: 0.8rem;
      font-weight: 500;
      color: $black;

      @include tablet {
        font-size: 0.9rem;
      }
      @include desktop {
        font-size: 0.9rem;
      }
    }

    &-name {
      font-weight: 600;
      @include tablet {
        font-weight: 600;
      }
      &:hover {
        cursor: pointer;
      }
      img {
        width: 0.9rem;
        margin-right: 0.5rem;
      }

      a {
        display: flex;
        text-decoration: none;
        font-weight: 700;
        color: $indigo;

        &:hover {
          text-decoration: underline;
        }
      }

      &-container {
        display: flex;
        align-items: center;
        color: $indigo;
        transition: transform 0.3s ease;
        &:hover .warehouse-facility__warehouse-name-chevron {
          transform: translateX(0.25rem);
          cursor: pointer;
        }
      }

      &-chevron {
        transition: transform 0.3s ease;
      }

      @include tablet {
        flex: 1;
        padding-left: 1.5rem;
      }

      @include desktop {
        padding-left: 2rem;
      }
    }

    &-address {
      width: 7.5rem;
      @include tablet {
        flex: 1;
        padding-right: .1rem;
        width: 1.5rem;
      }
      @include desktop {
        flex: 1.1;
        padding-right: 1rem;
        width: 1.5rem;
      }
    }

    &-contact-name {
      @include tablet {
        flex: 1;
        padding-left: 0.6rem;
        width: 2rem;
      }
      @include desktop {
        padding-left: 4rem;
        flex: 1;
      }
    }

    &-contact-info {
      @include tablet {
        flex: 1.3;
        width: 2rem;
        padding-left: 0.6rem;
      }
      @include desktop {
        flex: 1;
        padding-left: 0rem;
      }
    }
  }

  &__mobile-block-2 {
    @include tablet {
      display: initial;
    }
  }

  &__warehouse-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1rem;

    @include tablet {
      display: flex;
      padding: initial;
      margin-right: 2rem;
    }

    img {
      width: 1.2rem;
      margin: 0.5rem 0.5rem;
      &:hover {
        cursor: pointer;
      }

      @include tablet {
        width: 2rem;
        margin: 2rem 0;
        padding-left: 0.5rem;
      }
    }
  }
}
