$black: #13182C;
$slate: #5C667E;
$graphite: #232940;
$green: #158463;
$indigo: #2E66E5;
$cloud: #BDC5D5;
$light-grey: #F7F8F9;
$red: #C94515;
$white:#FFFF;
$light-blue: #eef2f8;
$sky:#479ef6;
$blue: #0095FF;
$darkBlue: #0065AD;
$blushade: #0752f4e1;
$coral: #db7a4e;
$orange: #f5b2b2;
$silver: #afafaf;
$pink: #f542996a;
$pine-green: #00695E;
$bluish: #1b84e7;
$maroon: #550707;
$sweet:#d96f6f;
$blackish:#626262;
$light-pink: #fde1ff;
$violet: #e261eb;