$black: #13182C;
$slate: #5C667E;
$graphite: #232940;
$green: #158463;
$indigo: #2E66E5;
$cloud: #BDC5D5;
$light-grey: #F7F8F9;
$red: #C94515;
$white:#FFFF;
$light-blue: #eef2f8;
$sky:#479ef6;
$blue: #0095FF;
$darkBlue: #0065AD;
$coral: #db7a4e;
