@import './breakpoints';
@import './variables';

h1 {
    font-size: $h1-mobile;
    line-height: 2.25rem;
    font-weight: 600;

    @include tablet {
        font-size: $h1-tabdesk;
        line-height: 2.5rem;
    }
    @include desktop {
        font-size: $h1-tabdesk;
        line-height: 2.5rem;
    }
}
h2 {
    font-size: $h2-mobile;
    line-height: 1.75rem;
    
    @include tablet {
        font-size: $h2-tabdesk;
        line-height: 2rem;
    }
    @include desktop {
        font-size: $h2-tabdesk;
        line-height: 2rem;
    }
}
h3 {
    font-size: $h3-mobile;
    line-height: 1.25rem;
    
    @include tablet {
        font-size: $h3-tabdesk;
        line-height: 1.375rem;
    }
    @include desktop {
        font-size: $h3-tabdesk;
        line-height: 1.375rem;
    }
}
h4 {
    font-size: $h4-mobile;
    line-height: 1rem;
    @include tablet {
        font-size: 0.75rem;
        line-height: 1.125rem;
    }
    @include desktop {
        font-size: $h4-tabdesk;
        line-height: 1.125rem;
    }
}
p { 
    font-size: $p1-mobile;
    line-height: 1.625rem;
    
    @include tablet {
        font-size: $p1-tabdesk;
        line-height: 1.75rem;
    }
    @include desktop {
        font-size: 1rem;
        line-height: 1.75rem;
    }
}  
@mixin hPadding($top, $bottom) {
    $padding-left: $top;
    $padding-right: $bottom;
  }
  @mixin section-wrap($tablet-breakpoint) {
    max-width: $tablet-breakpoint;
    padding: 0 1rem;
  }
  
  @mixin wrapper($desktop-breakpoint) {
    max-width: $desktop-breakpoint;
    margin: 0 auto;
    width: 85%;
    padding: 0 1.75rem;
  }
  @mixin description {
    font-weight: 500;
    @include tablet {
      font-size: 1.5rem;
      line-height: 2rem;
    }
  }  
  @mixin avatar {
    display: inline;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $bluish;
    flex-shrink: 0;
    position: relative;
    &--filled {
      background-size: contain;
    }
    @include tablet {
      width: 40px;
      height: 40px;
    }
  }
  @mixin foot-wrap($desktop-breakpoint) {
    max-width: $desktop-breakpoint;
    margin: 0 auto;
    width: 85%;
    padding: 0 1rem;
  }