@import '../../styles/partials/global';

.btn {
  width: 100%;
  border: none;
  border-radius: 4px;
  padding: 0.5rem;
  font-size: .8rem;
  text-transform: uppercase;
  color: $white;
  background-color: $blue;
  background-image: url("../../assets/icons/upload.svg");
  background-repeat: no-repeat;
  background-size: 1.2rem;
  background-position: 0.7rem;
  height: 40px;
  cursor: pointer;
  font-weight: 500;
  letter-spacing: .02rem;
  &:hover {
    background-color: $indigo;
  }
  @include tablet {
    padding: 0 32px;
    font-size: .9rem;
  }
  &--header {
    @include tablet {
      width: 10rem;
      font-size: .9rem;
    }
  }
  &--comment {
    background-image: url("../../assets/icons/add_comment.svg");
    @include tablet {
      align-self: flex-end;
      margin-bottom: 0.3rem;
      width: 10rem;
      font-size: .9rem;
    }
  }
  @include tablet {
    padding: 0 2rem;
  }
  &--upload {
    background-image: url("../../assets/icons/publish.svg");
    @include tablet {
      width: 150px;
    }
  }
  &--reserve {
    background-image: url("../../assets/icons/publish.svg");
    @include tablet {
      width: 150px;
    }
  }

  @include tablet {
    padding: 0 2rem;
  }
  &--book {
    background-image: url("../../assets/icons/publish.svg");
    @include tablet {
      width: 150px;
      align-items: center;
    }
  }
}
