@import "../../styles/partials/global";
.isLoading {
  display: block;
  font-size: 2rem;
  text-align: center;
  background-color: $light-grey;
  padding: 1rem 0;
}
.hero {
  background: linear-gradient(180deg, #80cdf7f1, #e1ffea22 60%);
  display: flex;
  flex-direction: column;
  margin-bottom: 12px;
  @include tablet {
    flex-direction: row;
  }
  &__left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 40px;
    line-height: 1.1;
    @include tablet {
      padding-left: 30px;
    }
    @include desktop {
      padding-left: 100px;
    }
  }
  &__left h2 {
    color: #090909;
    font-size: 18px;
    font-weight: 600;
    @include tablet {
      font-size: 16px;
    }
    @include desktop {
      font-size: 22px;
    }
  }
  &__left p {
    color: #171717;
    font-size: 10px;
    font-weight: 700;
    @include tablet {
      font-size: 16px;
    }
    @include desktop {
      font-size: 20px;
    }
  }
  &__hand-icon {
    display: flex;
    align-items: center;
    gap: 20px;
    img {
      width: 55px;
      @include tablet {
        width: 50px;
      }
      @include desktop {
        width: 80px;
      }
    }
  }
  &__latest-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 200px;
    height: 45px;
    font-size: 14px;
    border-radius: 75px;
    margin-top: 30px;
    background: $sweet;
    color: #fff;
    font-weight: 500;
    cursor: pointer;
    @include tablet {
      width: 175px;
      height: 40px;
      font-size: 13px;
    }
    @include desktop {
      gap: 10px;
      width: 250px;
      height: 60px;
      margin-top: 20px;
      font-size: 18px;
    }
  }
  &__latest-btn:hover div {
    padding: 10px;
    transition: 1s;
  }
  &__right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      padding: 1rem;
      border-radius: 10%;
      @include tablet {
        width: 300px;
      }
      @include desktop {
        width: 360px;
      }
    }
  }
}
.offers {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 0px 20px;
  margin-bottom: 10px;
  background: $white;
  @include tablet {
  
  }
  @include desktop {
    padding: 0px 20px;
    margin-bottom: 10px;
  }
  &__start {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    h1 {
      color: #171717;
      font-size: 16px;
      font-weight: 600;
      @include tablet {
        font-size: 22px;
      }
      @include desktop {
        font-size: 30px;
      }
    }
    p {
      color: #171717;
      font-size: 12px;
      font-weight: 500;
      padding-top: 1rem;
      @include tablet {
        font-size: 14px;
      }
      @include desktop {
        font-size: 18px;
      }
    }
  }
  &__step {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    @include description;
    @include tablet {
      @include section-wrap(750px);
      display: flex;
      flex-direction: row;
      font-size: 1.2rem;
      width: 75vw;
      padding: 1rem 0;
      @include hPadding(2rem, 2rem);
    }
    @include desktop {
      @include wrapper(1000px);
      font-size: 1.3rem;
      width: auto;
      width: 80vw;
    }
    &-number {
      width: 60px;
      margin-left: 4rem ;
    }
    &-para {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h2 {
        margin-top: 1rem;
        color: #454545;
        font-size: 12px;
        font-weight: 600;
        @include tablet {
          font-size: 16px;
        }
        @include desktop {
          font-size: 18px;
        }
      }
    }
    &-image {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 300px;
      margin-bottom: 1rem;
      @include tablet {
        padding-top: 5px;
      }
      @include desktop {
        padding-top: 10px;
      }
      img {
        width: 120px;
        border-radius: 5%;
        @include tablet {
          width: 180px;
        }
        @include desktop {
          width: 180px;
        }
      }
    }
  }
}

.newsletter {
  width: 100%;
  padding: 0;
  gap: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 5px;
  background: linear-gradient(180deg, #fde1ff 0%, #e1ffea22 60%);
  @include tablet {
    margin-bottom: 10px;
    
  }
  @include desktop {
    padding: 0px 80px;
    margin-bottom: 10px;
    gap: 20px;
  }
}
.newsletter h2 {
  color: #454545;
  font-size: 16px;
  font-weight: 600;
  @include tablet {
    font-size: 18px;
  }
  @include desktop {
    font-size: 36px;
  }
}
.newsletter p {
  color: #454545;
  font-size: 20px;
  font-size: 13px;
  max-width: 200px;
  text-align: center;
  @include tablet {
    font-size: 18px;
    max-width: 400px;
  }
  @include desktop {
    font-size: 20px;
    max-width: 600px;
  }
}

.newsletter div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  width: 300px;
  @include tablet {
    width: 500px;
  }
  @include desktop {
    width: 731px;
  }
}

