@import '../../styles/partials/global';
.profile-page {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  background: linear-gradient(180deg, #d6f0ff71, #e1ffea22 20%);
  &__wrapper {
    @include wrapper($desktop-breakpoint)
  }
  &__greet {
    color: $maroon;
  }
  &__para {
    font-size: 1.25rem;
    line-height: 3rem;
    color: $maroon;
  }
}

.logout-button {
  margin-top: 1rem;
  background-color: $sky;
  border: 1px solid $sky;
  color: $white;
  border-radius: 0.5rem;
  padding: 0.5rem;
  font-size: inherit;
  cursor: pointer;
  transition: background-color 0.15s;

  &:hover {
    background-color: $bluish;
  }
}
