@import '../../styles/partials/global';

.inventory-item {
  width: 100%;
  height: 22.813rem;
  margin: 0 auto;
  border-radius: 4px;
  
  box-shadow: 0px 2px 2px 1px rgba(19, 24, 44, 0.1);
  p {
    font-size: $p2-mobile;
    line-height: 20px;
  }
  @include tablet {
    width:  100%;
    p {
      font-size: $p2-tabdesk;
    }
  }

  @include desktop {
    width: 100%;
  }

  &__wrapper {
    background: linear-gradient(180deg, #7fc8eff1, #e1ffea22 60%);
  }

  &__header {
    padding: 2rem 1.5rem 1.45rem 2.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $cloud;
    @include tablet {
      padding: 2rem 2rem 1.45rem 6rem;
    }
  }

  &__title-group {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    color: $maroon;
  }

  &__description-title {
    color: $maroon;
    margin-bottom: .6rem;
    line-height: 2rem;
    &--login {
      border-radius: 10px;
      padding: .3rem;
      border: 2px solid $maroon;
      cursor: pointer;
    }
  }
  &__description-group {
    font-size: 1.2rem;
    line-height: 2rem;
  }
  &__button-back {
    padding-top: 7px;
    cursor: pointer;
  }
  &__qua {
    line-height: 1rem;
    color: $maroon;
    font-size: 1.25rem;
    font-weight: 600;
    margin-right: 1rem;
  }
  &__input {
    width: 20%;
    margin-bottom: 1rem;
    padding: 0.625rem;
    background-color: $white;
    font-family: $font-primary;
    border-radius: 1.25rem;
    border: 1px solid $cloud;
    outline: none;
    resize: none;
    &:focus {
      border: 1px solid $light-grey;
    }
  }

  &__button-edit-mobile {
    width: 2.25rem;
    height: 2.25rem;
    border-radius: 50%;
    background-color: $indigo;
    cursor: pointer;

    @include tablet {
      display: none;
    }
  }

  &__button-edit-tablet {
    display: none;

    @include tablet {
      display: flex;
      border-radius: 20px;
      background-color: $indigo;
      color: $white;
      width: 5.063rem;
      height: 2.375rem;
      flex-direction: row;
      gap: 0.25rem;
      align-items: center;
      justify-content: center;
      cursor: pointer;
    }
  }

  &__button-edit-mobile:hover,
  &__button-edit-tablet:hover {
    background-color: $graphite;
  }
  &__container {
    @include wrapper($desktop-breakpoint);
  }

  &__main-group {
    padding: 1rem 1rem 3.5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include tablet {
      padding: 1.5rem 2rem 2rem 2rem;
      flex-direction: row;
      width: 100%;
    }
  }

  &__left-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    @include tablet {
      width: 50%;
      border-right: 1px solid $cloud;
      gap: 2rem;
      padding-right: 1rem;
    }
  }

  &__right-group {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    @include tablet {
      width: 50%;
      gap: 2rem;
      padding-left: 1rem;
    }
  }

  &__status-group {
    display: flex;
    flex-direction: row;
    gap: 6rem;

    @include tablet {
      gap: 7rem;
    }

    @include desktop {
      gap: 11.875rem;
    }
  }
}

.in-stock-inventory {
  background-color: rgb(21, 132, 99, 0.07);
  color: $green;
  width: 4.5rem;
  display: flex;
  height: 24px;
  border-radius: 1.25rem;
  padding: 0 0.5rem 0;
  font-weight: bold;
  align-items: center;
  text-transform: uppercase;

  @include tablet {
    width: 4.7rem;
  }
}

.no-stock-inventory {
  background-color: rgb(201, 69, 21, 0.07);
  color: $red;
  width: 7rem;
  display: flex;
  height: 24px;
  border-radius: 1.25rem;
  padding: 0 0.5rem 0;
  font-weight: bold;
  align-items: center;
  text-transform: uppercase;

  @include tablet {
    width: 6.7rem;
  }
}
