@import '../../styles/partials/global';

.warehouse-inventory {
  &__card {
    margin: 0 auto;
    width: 21.438rem;
    background-color: $white;

    @include tablet {
      width: 44rem;
    }

    @include desktop {
      width: 63.75rem;
    }
  }
}

.mobile-view {
  @include tablet {
    display: none;
  }
}
.tablet-view {
  display: none;

  @include tablet {
    display: initial;
  }
}

.warehouse-inventory-labels {
  display: none;

  @include tablet {
    display: flex;
    justify-content: center;
    background-color: $light-grey;
  }

  &__container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 2rem;
    width: 44rem;
    background-color: $light-grey;
    color: $slate;
    font-size: 0.7rem;
    z-index: 0;

    @include desktop {
      width: 63.75rem;
      padding: 1rem 2rem;
      font-size: 0.9rem;
    }
  }

  &__column-header {
    display: flex;
    text-transform: uppercase;
    font-weight: 550;
    &:nth-of-type(1) {
      width: 9.8rem;
      @include tablet {
        width: 9.1rem;
      }
      @include desktop {
        width: 13.5rem;
      }
    }

    &:nth-of-type(2) {
      width: 9.5rem;
      @include tablet {
        width: 9rem;
      }
      @include desktop {
        width: 13rem;
      }
    }

    &:nth-of-type(3) {
      width: 7.5rem;
      @include tablet {
        width: 10.1rem;
      }
      @include desktop {
        width: 16rem;
      }
    }

    &:nth-of-type(4) {
      width: 4.4rem;
      @include desktop {
        width: 6rem;
      }
    }

    &:nth-of-type(5) {
      margin-left: auto;
    }

    &:nth-of-type(6) {
      margin-left: auto;
      width: 4rem;
      padding-left: 0.6rem;
      @include desktop {
        width: 3.5rem;
        padding-left: 0;
      }
    }
  }

  &__buttons {
    padding-left: 0.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__icons {
    .inventory-labels__icon {
      margin-top: auto;
      width: 1rem;
    }
  }
}

.warehouse-inventory-product {
  border-top: 0.09rem solid $cloud;

  @include tablet {
    border-top: none;
    width: 44rem;
    z-index: 2;
  }
  @include desktop {
    width: 63.75rem;
  }

  &__row {
    border-top: 0.09rem solid $cloud;
    background-color: $white;
    transition: background-color 0.25s;
    &:first-of-type {
      border-top: none;
    }

    &:hover {
      background-color: $light-blue;
      transition: background-color 0.25s;
    }

    @include tablet {
      display: flex;
    }
  }

  &__mobile-block-1 {
    display: flex;
    gap: 0.85rem;
    padding: 0.5rem 1.7rem;

    @include tablet {
      display: flex;
      padding: initial;
      width: 100%;
    }
  }

  &__column-1 {
    width: 45%;
    @include tablet {
      display: flex;
      align-items: center;
      width: initial;
      flex: 1;
      @include desktop {
        flex: 0.9;
      }
    }
  }

  &__column-2 {
    flex-grow: 1;
    margin-left: 1rem;

    @include tablet {
      display: flex;
      align-items: center;
      flex: 1;
      margin-left: initial;
    }
  }

  &__header {
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 550;
    margin-top: 0.8rem;
    margin-bottom: 0.5rem;
    color: $slate;
  }

  &__inventory {
    &-name,
    &-category,
    &-status,
    &-quantity,
    &-warehouse-name {
      font-size: 0.8rem;
      font-weight: 500;
      color: $black;

      @include tablet {
        font-size: 0.9rem;
      }
      @include desktop {
        font-size: 0.9rem;
      }
    }

    &-name {
      font-weight: 600;
      @include tablet {
        font-weight: 600;
      }
      &:hover {
        cursor: pointer;
      }
      img {
        width: 0.9rem;
        margin-right: 0.5rem;
      }

      a {
        display: flex;
        text-decoration: none;
        font-weight: 700;
        color: $indigo;

        &:hover {
          text-decoration: underline;
        }
      }

      &-container {
        display: flex;
        align-items: center;
        color: $indigo;
        transition: transform 0.3s ease;
        &:hover .inventory-product__inventory-name-chevron {
          transform: translateX(0.25rem);
          cursor: pointer;
        }
      }

      &-chevron {
        transition: transform 0.3s ease;
      }

      @include tablet {
        flex: 1;
        padding-left: 2rem;
      }

      @include desktop {
        padding-left: 2rem;
      }
    }

    &-category {
      width: 5.5rem;
      @include tablet {
        flex: 0.63;
        padding-right: 1.8rem;
        width: 1.5rem;
      }
      @include desktop {
        flex: 0.7;
      }
    }

    &-status {
      text-transform: uppercase;
      flex: 1.5;
      width: 2rem;
      height: 24px;
      @include tablet {
        flex: 0.7;
        width: 2rem;
        height: 24px;
      }
      @include desktop {
        flex: 0.6;
        padding-left: 0.2rem;
      }
    }

    &-quantity {
      @include tablet {
        flex: 0;
        width: 2rem;
      }
      @include desktop {
        flex: 1;
        padding-left: 0rem;
      }
    }

    &-warehouse-name {
      @include tablet {
        flex: 0.9;
        width: 2rem;
        padding-left: 2rem;
      }
      @include desktop {
        flex: 1.85;
        padding-left: 4rem;
      }
    }
  }

  &__inventory-status-tag {
    display: flex;
    height: 24px;
    border-radius: 1.25rem;
    padding: 0 0.5rem 0;
    font-weight: bold;
    align-items: center;
  }

  &__inventory-status--in-stock {
    background-color: rgb(21, 132, 99, 0.07);
    color: $green;
    width: 4.5rem;

    @include tablet {
      width: 4.7rem;
    }
  }

  &__inventory-status--no-stock {
    background-color: rgb(201, 69, 21, 0.07);
    color: $red;
    width: 7rem;

    @include tablet {
      width: 6.7rem;
    }
  }

  &__mobile-block-2 {
    @include tablet {
      display: initial;
    }
  }

  &__inventory-actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1rem;

    @include tablet {
      display: flex;
      padding: initial;
      margin-right: 2rem;
    }

    img {
      width: 1.2rem;
      margin: 0.5rem 0.5rem;
      &:hover {
        cursor: pointer;
      }

      @include tablet {
        width: 2rem;
        margin: 2rem 0;
        padding-left: 0.5rem;
      }
    }
  }
}
