@import "../../styles/partials/global";

.navigation {
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: $white;
    padding-top: 1.5rem;
    @include tablet {
      flex-direction: row;
      vertical-align: middle;
      gap: 1em;
      padding-top: 1rem;
    }
    @include desktop {
      margin: 0 auto;
      width: 1280px;
      vertical-align: middle;
      padding-top: 1.2rem;
    }
  }
  &__logo {
    height: 50px;
    margin-bottom: 0.1rem;
    &:hover {
      animation: tilt-shaking 0.5s infinite;
    }
    @keyframes tilt-shaking {
      0% {
        transform: rotate(0);
      }
      25% {
        transform: rotate(5deg);
      }
      50% {
        transform: rotate(0);
      }
      75% {
        transform: rotate(-5deg);
      }
      100% {
        transform: rotate(0);
      }
    }
    @include tablet {
      justify-content: flex-start;
      vertical-align: middle;
      margin-bottom: 0;
      height: 60px;
      margin-left: 1rem;
      padding: 1rem;
    }
    @include desktop {
      justify-content: flex-start;
      vertical-align: middle;
      height: 70px;
    }
  }
  &__navbar {
    text-align: center;
    width: 100vw;
  }
  &__list {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0;
    padding-left: 0;
    padding-top: 0.1rem;
    list-style-type: none;
    gap: 3rem;
    @include tablet {
      justify-content: flex-start;
      margin-left: 2rem;
      padding: 1rem;
    }
    @include desktop {
      justify-content: flex-end;
      gap: 5rem;
    }
  }
  &__item {
    color: $maroon;
    width: 50%;
    transition: 0.5s;
    text-decoration: none;
    font-size: 1rem;
    @include tablet {
      left: 2rem;
      font-size: 1.1rem;
      width: unset;
    }
    @include desktop {
      left: 0;
      font-size: 1.3rem;
    }
    &:hover {
      font-weight: 800;
      color: $violet;
    }
    &-logout {
      display: flex;
      justify-content: center;
      cursor: pointer;
    }
    &-avatar {
      background-color: transparent;
      border: none;
      cursor: pointer;
      margin-right: 10px;
      width: 40px;
      height: 40px;
    }
    &-handlog {
      display: flex;
      align-items: center;
      margin-left: 1rem;
      margin-right: 1rem;
    }
    &-dropdown-content {
      display: none;
      position: absolute;
      top: 58px; /* Adjust as needed */
      right: 0;
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 5px;
      box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
      z-index: 1;
    }
  }
  &__button {
    border: none;
    background: none;
    cursor: pointer;
    &--active {
      border-bottom: 3px solid $maroon;
      font-weight: 800;
      width: 50%;
      transition: 0.5s;
      &:hover {
        border-bottom: 4px solid $violet;
      }
      @include tablet {
        width: auto;
        font-weight: 600;
        border-bottom: 4px solid $maroon;
      }
      @include desktop {
        font-weight: bold;
      }
    }
  }
  &__login {
    display: flex;
    justify-content: flex-end;
    vertical-align: middle;
    button {
      width: 140px;
      height: 58px;
      outline: none;
      border: 1px solid $silver;
      border-radius: 60px;
      color: $maroon;
      font-size: 1.3rem;
      font-weight: 500;
      cursor: pointer;
      background: white;
      button:active {
        background: #f3f3f3;
      }
    }
  }
}
